/* Media Query for Mobile Devices
@media (max-width: 480px) {
	body {
		background-color: red;
	}
} */

/* Media Query for low resolution  Tablets, Ipads
 @media (min-width: 481px) and (max-width: 767px) {
	body {
		background-color: blue;
	}
} */




* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/* overflow-wrap: break-word; */
}

body {
	background-color: #73b4e742;
}

/* NAVIGARION CSS STARTS HERE */
header {
	position: sticky;
	top: 0px;
	background-color: #151526;
}

.nav-bar {
	display: flex;
	justify-content: space-between;
	padding: 15px;

}

.nav-bar .left-part a {
	text-decoration: none;
	font-family: 'Sacramento', cursive;
	font-size: 30px;
	letter-spacing: 1px;
	color: #fff;
}

.nav-bar .right-part a {
	text-decoration: none;
	margin: 15px;
	padding-right: 25px;
	color: #fff;
	justify-content: flex-start;
	align-items: center;
	font-size: x-large;

}

#user-image {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-left: 30px;
	display: flex;
}

/* NAVIGARION CSS ENDS HERE */

/* RESUME SECTION CSS STARTS HERE */
.resume-container {
	position: fixed;
	z-index: 100;
	bottom: 60px;
	right: 20px;
	background: #59a9d7b4;
	font-family: 'Poiret One', cursive;
	padding: 25px;
}

.resume-container a {
	text-decoration: none;
	color: #0e0d0d;
	font-weight: 600;
}

#download-btn {
	font-size: 25px;
	margin-left: 5px;
}

/* RESUME SECTION CSS ENDS HERE */


/* BODY SECTION CSS STARTS HERE */
.profile {
	text-align: center;
	height: 70vh;
	padding: 10%;
	width: 100%;
	font-size: 30px;
}

.profile h1 {
	font-family: 'Poiret One', cursive;
	font-size: 50px;
	color: #e5a530;
}

/* BODY SECTION CSS ENDS HERE */

/* ABOUT SECTION CSS STARTS HERE */
.about-section {
	display: flex;
	justify-content: center;
	height: 60vh;
	align-items: center;
	background-color: #e5a530;
	color: #fff;
}

.about-section .image-section {
	margin: 20px;
	margin-top: 0%;
}

.about-section .table-section table {
	font-size: 25px;
}

.about-section .table-section table tr {
	margin: 10px;
}

.about-section .table-section table tr td a {
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

.about-section .table-section .media-icon {
	font-size: 30px;
	margin: 20px;
}

#linkedin {
	color: blue;
}

#github {
	color: black;
	margin-left: 20px;
	margin-right: 20px;
}

/* ABOUT SECTION CSS ENDS HERE */

/* SKILLS PART CSS STARTS HERE */
.skills {
	margin: 4% 11% 5%;
	width: 700px;
}

.skill-title {
	color: #e5a530;
	font-size: 30px;
	font-weight: 900;
	margin-bottom: 5%;
}

.skill-show {
	background-color: #da680b;
}

.tech-name {
	font-size: 22px;
	font-family: 'Lobster', cursive;
	color: #9f9494;
}

.skill-name {
	margin-bottom: 20px;
}

.tech-skill {
	height: 30px;
	display: flex;
	border: 1px solid #d5d5d5;
	margin-bottom: 5px;
	border-radius: 5px;
}

.skills-per {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* SKILLS PART CSS ENDS HERE */

/* PROJECTS PART CSS STARTS HERE */
.projects {
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 0% 10%;
	display: flex;
}

.project-para h2{
	color: #e5a530;
	font-size: 30px;
	margin: 0 11% 2%;
	font-weight: 900;
}

.projects .project {
	width: calc(33% - 30px);
	border: 1px solid #dbdbdb;
	margin: 0 15px 30px;

}

.projects .project .project-img {
	height: 160px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.projects .project p {
	font-weight: 600;
}

.projects .project img {
	width: 100%;
	display: block;
	height: 150px;
}

.projects .project .content {
	border-top: 1px solid #dbdbdb;
	background: white;
	padding: 20px;
}

.projects .project .content .icons {
	display: flex;
}

.projects .project .content img {
	margin: 10px 20px -5px 50px;
	width: 20px;
	height: inherit;

}

/* PROJECTS PART CSS ENDS HERE */

/* CONTACT PART STARTS HERE */
.social-title {
	color: #e5a530;
	font-size: 30px;
	font-weight: 900;
	margin-bottom: 20px;
}
.social-media {
	margin: 0 30% 0 11%;
}

/* .btn [type="submit"] {
    background-color: #3b8ee0;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
} */
/* .btn [type="submit"]:hover {
    background-color: #0558ab;
} */

.social-link {
	display: flex;
	justify-content: space-between;

}

.social-items {
	width: 150px;
	border-radius: 10px;
	text-align: center;
}

.linkedin {
	background: #0a66c2;
}

.github {
	margin-left: 5%;
	background: #22272e;
}

.gmail {
	margin-left: 5%;
	background: #da680b;
}

.social-link a {
	text-decoration: none;
	color: #fff;
	font-weight: 600;
	font-size: 30px;
}

/* CONTACT PART ENDS HERE */


/* FOOTER PART CSS STARTS HERE */
.footer {
	margin-top: 50px;
	text-align: center;
	height: 20vh;
	padding: 30px 0px;
	background-color: #000000de;
	color: white;
}

.footer .footer-content {
	margin-top: 20px;
}

.footer .footer-content a {
	text-decoration: none;
	margin: 15px;
	color: white;
}

/* FOOTER PART CSS ENDS HERE */

/* MEDIA QUERY FOR RESPONSIVENESS */

/* Media Query for Tablets/Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
	.profile {
		height: 50vh;
		padding: 10%;
	}
	.project-para {
		margin: 0% -2%;
	}
	.nav-item{
		display: none;
	}
	.about-section .table-section table {
		font-size: 22px;
	}	
	.projects {
		margin: 0% 7%;
	}
	.projects .project img {
		height: 100px;
	}
	.projects .project {
		width: calc(50% - 30px);
	}
	.social-media {
		margin: 0 10% 0 9%;
	}
	.skills {
		margin: 3% 10% 4%;
		width: 600px;
	}
	.tech-name {
		font-size: 20px;
	}
	.skill-title {
		margin-bottom: 2%;
	}
}